{
  // "presets": ["env", "react"],
  // modified above preset to RESOLVE error with async methods :
  // "ReferenceError: regeneratorRuntime is not defined"
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-class-properties"]
}